.login-outer-form-wrapper{
    float: left;    
    border: #3A464F 1px solid;
    box-shadow: 0px 5px 5px #888888;
}

.login-form-wrapper{
    float: left;
    width: 70%;
    margin: 2% 0 2% 15%;
    
}
.login-label{
    float: left;
    width: 100%;
    text-align: center;
    margin: 2% 0 0 0;
}
.login-element{
    float: left;
    width: 100%;
    text-align: center;
    margin: 0 0 2% 0;
}
.login-button{
    float: left;
    width: 100%;
    text-align: center;
    margin: 3% 0 2% 0;
}

.failed-login{
    float: left;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: red;
}



@media screen and (min-width: 1200px){
    .login-outer-form-wrapper{       
        width: 50%;
        margin: 5% 0 0 25%;          
    }

}

@media screen and (max-width: 1200px){
   .login-outer-form-wrapper{       
        width: 50%;
        margin: 5% 0 0 25%;         
    }
}

@media screen and (max-width: 770px){
   .login-outer-form-wrapper{       
        width: 50%;
        margin: 5% 0 0 25%;       
    }
}


@media screen and (max-width: 480px){
   .login-outer-form-wrapper{       
        width: 70%;
        margin: 5% 0 0 15%;       
    }
}
