@media screen and (min-width: 1200px){

    .page-container{
        float: left;
        margin: 3%  0 0 0;
        padding: 0 0 0 0;
        width: 100%;

    }
    img { 
        max-width: 50%; 
    }

    .partner-form{
        float: left;
        width: 50%;
        margin: 0 0 0 25%;
        padding: 1% 5% 1% 5%;
        border-radius:7px;
        -moz-border-radius:7px; /* Firefox 3.6 and earlier */
        border: #230fba solid 1px;
    }



    .new-article-upload-wrapper{
        float: left;
        width: 30%;
        margin: 0 0 0 35%;
        padding: 1%;
        border-radius:7px;
        -moz-border-radius:7px; /* Firefox 3.6 and earlier */
        border: #230fba solid 1px;
    }

    .login-title{
        float: left;
        width: 100%;
        margin: 6% 0 1% 0;
        text-align: center;
        font-size: 18pt;
        font-weight: bold;            
    }

    .config-form-wrapper{
        float: left;
        width: 60%;
        padding: 0 0 0 0;
        margin: 0 0 0 20%;
        border-radius:7px;
        -moz-border-radius:7px; /* Firefox 3.6 and earlier */
        border: #230fba solid 1px;

    }
    
    .comment-form-wrapper{
        float: left;
        width: 60%;
        padding: 0 0 0 0;
        margin: 0 0 0 20%;
        border-radius:7px;
        -moz-border-radius:7px; /* Firefox 3.6 and earlier */
        border: #230fba solid 1px;

    }

    .summary-cell{        
        height: 300px;
    }

    .summary-cell-data{        
        height: 250px;  
        font-size: 12pt;
    }

}

@media screen and (max-width: 1200px){

    .page-container{
        float: left;
        margin: 5%  0 0 0;
        padding: 0 0 0 0;
        width: 100%;

    }
    img { 
        max-width: 60%; 
    }

    .nav-ds{
        margin: 0 0 0 0;        
    }
    .nav-ds li{
        width: 11%;

    }
    .nav-ds li a{
        margin: 0 0 0 0;
        padding: 4% 0 4% 0;
        text-align: center; 
    } 

    .partner-form{
        float: left;
        width: 50%;
        margin: 0 0 0 25%;
        padding: 1% 5% 1% 5%;
        border-radius:7px;
        -moz-border-radius:7px; /* Firefox 3.6 and earlier */
        border: #230fba solid 1px;
    }



    .new-article-upload-wrapper{
        float: left;
        width: 40%;
        margin: 0 0 0 30%;
        padding: 1%;
        border-radius:7px;
        -moz-border-radius:7px; /* Firefox 3.6 and earlier */
        border: #230fba solid 1px;
    }

    .login-title{
        float: left;
        width: 100%;
        margin: 6% 0 1% 0;
        text-align: center;
        font-size: 18pt;
        font-weight: bold;            
    }

    .config-form-wrapper{
        float: left;
        width: 60%;
        padding: 0 0 0 0;
        margin: 0 0 0 20%;
        border-radius:7px;
        -moz-border-radius:7px; /* Firefox 3.6 and earlier */
        border: #230fba solid 1px;

    }
    
    .comment-form-wrapper{
        float: left;
        width: 60%;
        padding: 0 0 0 0;
        margin: 0 0 0 20%;
        border-radius:7px;
        -moz-border-radius:7px; /* Firefox 3.6 and earlier */
        border: #230fba solid 1px;

    }
    .summary-cell{        
        height: 300px;
    }

    .summary-cell-data{        
        height: 250px;
        font-size: 12pt;
    }

}

@media screen and (max-width: 800px){

    .page-container{
        float: left;
        margin: 7%  0 0 0;
        padding: 0 0 0 0;
        width: 100%;


    }
    img { 
        max-width: 70%; 
    }

    .nav-ds{
        margin: 0 0 0 0;        
    }
    .nav-ds li{
        width: 11%;

    }
    .nav-ds li a{
        margin: 0 0 0 0;
        padding: 4% 0 4% 0;
        text-align: center; 
    }  

    .partner-form{
        float: left;
        width: 60%;
        margin: 0 0 0 20%;
        padding: 1% 5% 1% 5%;
        border-radius:7px;
        -moz-border-radius:7px; /* Firefox 3.6 and earlier */
        border: #230fba solid 1px;
    }


    .new-article-upload-wrapper{
        float: left;
        width: 50%;
        margin: 0 0 0 25%;
        padding: 1%;
        border-radius:7px;
        -moz-border-radius:7px; /* Firefox 3.6 and earlier */
        border: #230fba solid 1px;
    }

    .login-title{
        float: left;
        width: 100%;
        margin: 6% 0 1% 0;
        text-align: center;
        font-size: 16pt;
        font-weight: bold;            
    }

    .config-form-wrapper{
        float: left;
        width: 80%;
        padding: 0 0 0 0;
        margin: 0 0 0 10%;
        border-radius:7px;
        -moz-border-radius:7px; /* Firefox 3.6 and earlier */
        border: #230fba solid 1px;

    }
    
    .comment-form-wrapper{
        float: left;
        width: 80%;
        padding: 0 0 0 0;
        margin: 0 0 0 10%;
        border-radius:7px;
        -moz-border-radius:7px; /* Firefox 3.6 and earlier */
        border: #230fba solid 1px;

    }
    .summary-cell{        
        height: 300px;
    }

    .summary-cell-data{        
        height: 250px; 
        font-size: 10pt;
    }

}

@media screen and (max-width: 600px){

    .page-container{
        float: left;
        margin: 8%  0 0 0;
        padding: 0 0 0 0;
        width: 100%;

    }
    img { 
        max-width: 80%; 
    }

    .nav-ds{
        margin: 0 0 0 0;        
    }
    .nav-ds li{
        width: 14%;

    }
    .nav-ds li a{
        margin: 0 0 0 0;
        padding: 4% 0 4% 0;
        text-align: center; 
    }   

    .partner-form{
        float: left;
        width: 80%;
        margin: 0 0 0 10%;
        padding: 1% 5% 1% 5%;
        border-radius:7px;
        -moz-border-radius:7px; /* Firefox 3.6 and earlier */
        border: #230fba solid 1px;
    }



    .new-article-upload-wrapper{
        float: left;
        width: 60%;
        margin: 0 0 0 20%;
        padding: 1%;
        border-radius:7px;
        -moz-border-radius:7px; /* Firefox 3.6 and earlier */
        border: #230fba solid 1px;
    }
    .login-title{
        float: left;
        width: 100%;
        margin: 6% 0 1% 0;
        text-align: center;
        font-size: 14pt;
        font-weight: bold;            
    }

    .config-form-wrapper{
        float: left;
        width: 80%;
        padding: 0 0 0 0;
        margin: 0 0 0 10%;
        border-radius:7px;
        -moz-border-radius:7px; /* Firefox 3.6 and earlier */
        border: #230fba solid 1px;

    }
    
    .comment-form-wrapper{
        float: left;
        width: 80%;
        padding: 0 0 0 0;
        margin: 0 0 0 10%;
        border-radius:7px;
        -moz-border-radius:7px; /* Firefox 3.6 and earlier */
        border: #230fba solid 1px;

    }
    .summary-cell{        
        height: 200px;
    }

    .summary-cell-data{        
        height: 150px;  
        font-size: 10pt;
    }

}

@media screen and (max-width: 500px){

    .page-container{
        float: left;
        margin: 10%  0 0 0;
        padding: 0 0 0 0;
        width: 100%;

    }
    img { 
        max-width: 90%; 
    }

    .nav-ds{
        margin: 0 0 0 0;        
    }
    .nav-ds li{
        width: 14%;

    }
    .nav-ds li a{
        margin: 0 0 0 0;
        padding: 4% 0 4% 0;
        text-align: center; 
    }  

    .partner-form{
        float: left;
        width: 100%;
        margin: 0 0 0 0%;
        padding: 1% 5% 1% 5%;
        border-radius:7px;
        -moz-border-radius:7px; /* Firefox 3.6 and earlier */
        border: #230fba solid 1px;
    }



    .new-article-upload-wrapper{
        float: left;
        width: 100%;
        margin: 0 0 0 0%;
        padding: 1%;
        border-radius:7px;
        -moz-border-radius:7px; /* Firefox 3.6 and earlier */
        border: #230fba solid 1px;

    }

    .login-title{
        float: left;
        width: 100%;
        margin: 6% 0 1% 0;
        text-align: center;
        font-size: 14pt;
        font-weight: bold;            
    }
    .config-form-wrapper{
        float: left;
        width: 100%;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        border-radius:7px;
        -moz-border-radius:7px; /* Firefox 3.6 and earlier */
        border: #230fba solid 1px;

    }
    
    .comment-form-wrapper{
        float: left;
        width: 100%;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        border-radius:7px;
        -moz-border-radius:7px; /* Firefox 3.6 and earlier */
        border: #230fba solid 1px;

    }
    .summary-cell{        
        height: 200px;
    }

    .summary-cell-data{        
        height: 150px;    
        font-size: 8pt;
    }

}

@media screen and (max-width: 450px){

    .page-container{
        float: left;
        margin: 12%  0 0 0;
        padding: 0 0 0 0;
        width: 100%;

    }
    img { 
        max-width: 100%; 
    }
    .nav-ds{
        margin: 0 0 0 0;        
    }
    .nav-ds li{
        width: 15%;

    }
    .nav-ds li a{
        margin: 0 0 0 0;
        padding: 4% 0 4% 0;
        text-align: center; 
    }  

    .partner-form{
        float: left;
        width: 100%;
        margin: 0 0 0 0%;
        padding: 1% 5% 1% 5%;
        border-radius:7px;
        -moz-border-radius:7px; /* Firefox 3.6 and earlier */
        border: #230fba solid 1px;
    }



    .new-article-upload-wrapper{
        float: left;
        width: 100%;
        margin: 0 0 0 0%;
        padding: 1%;
        border-radius:7px;
        -moz-border-radius:7px; /* Firefox 3.6 and earlier */
        border: #230fba solid 1px;
    }
    .login-title{
        float: left;
        width: 100%;
        margin: 6% 0 1% 0;
        text-align: center;
        font-size: 14pt;
        font-weight: bold;            
    }

    .config-form-wrapper{
        float: left;
        width: 100%;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        border-radius:7px;
        -moz-border-radius:7px; /* Firefox 3.6 and earlier */
        border: #230fba solid 1px;

    }
    
    .comment-form-wrapper{
        float: left;
        width: 100%;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        border-radius:7px;
        -moz-border-radius:7px; /* Firefox 3.6 and earlier */
        border: #230fba solid 1px;

    }
    .summary-cell{        
        height: 150px;
    }

    .summary-cell-data{        
        height: 120px;   
        font-size: 6pt;
    }

}
@media screen and (max-width: 425px){

    .page-container{
        float: left;
        margin: 12%  0 0 0;
        padding: 0 0 0 0;
        width: 100%;

    }
    img { 
        max-width: 100%; 
    }
    .nav-ds{
        margin: 0 0 0 0;        
    }
    .nav-ds li{
        width: 15%;

    }
    .nav-ds li a{
        margin: 0 0 0 0;
        padding: 4% 0 4% 0;
        text-align: center; 
    } 

    .partner-form{
        float: left;
        width: 100%;
        margin: 0 0 0 0%;
        padding: 1% 5% 1% 5%;
        border-radius:7px;
        -moz-border-radius:7px; /* Firefox 3.6 and earlier */
        border: #230fba solid 1px;
    }



    .new-article-upload-wrapper{
        float: left;
        width: 100%;
        margin: 0 0 0 0%;
        padding: 1%;
        border-radius:7px;
        -moz-border-radius:7px; /* Firefox 3.6 and earlier */
        border: #230fba solid 1px;
    }
    .login-title{
        float: left;
        width: 100%;
        margin: 6% 0 1% 0;
        text-align: center;
        font-size: 14pt;
        font-weight: bold;            
    }

    .config-form-wrapper{
        float: left;
        width: 100%;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        border-radius:7px;
        -moz-border-radius:7px; /* Firefox 3.6 and earlier */
        border: #230fba solid 1px;

    }
    
    .comment-form-wrapper{
        float: left;
        width: 100%;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        border-radius:7px;
        -moz-border-radius:7px; /* Firefox 3.6 and earlier */
        border: #230fba solid 1px;

    }

    .summary-cell{        
        height: 150px; 
    }

    .summary-cell-data{        
        height: 120px; 
        font-size: 6pt;
    }

}

@media screen and (max-width: 400px){

    .page-container{
        float: left;
        margin: 20%  0 0 0;
        padding: 0 0 0 0;
        width: 100%;

    }
    img { 
        max-width: 100%; 
    }

    .nav-ds{
        margin: 0 0 0 0;        
    }
    .nav-ds li{
        width: 15%;

    }
    .nav-ds li a{
        margin: 0 0 0 0;
        padding: 4% 0 4% 0;
        text-align: center; 
    }  

    .partner-form{
        float: left;
        width: 100%;
        margin: 0 0 0 0%;
        padding: 1% 5% 1% 5%;
        border-radius:7px;
        -moz-border-radius:7px; /* Firefox 3.6 and earlier */
        border: #230fba solid 1px;

    }



    .new-article-upload-wrapper{
        float: left;
        width: 100%;
        margin: 0 0 0 0%;
        padding: 1%;
        border-radius:7px;
        -moz-border-radius:7px; /* Firefox 3.6 and earlier */
        border: #230fba solid 1px;
    }

    .login-title{
        float: left;
        width: 100%;
        margin: 6% 0 1% 0;
        text-align: center;
        font-size: 14pt;
        font-weight: bold;            
    }

    .config-form-wrapper{
        float: left;
        width: 100%;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        border-radius:7px;
        -moz-border-radius:7px; /* Firefox 3.6 and earlier */
        border: #230fba solid 1px;

    }
    
    .comment-form-wrapper{
        float: left;
        width: 100%;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        border-radius:7px;
        -moz-border-radius:7px; /* Firefox 3.6 and earlier */
        border: #230fba solid 1px;

    }
    .summary-cell{        
        height: 150px;           
    }

    .summary-cell-data{        
        height: 120px;  
        font-size: 6pt;
    }

}

@media screen and (max-width: 300px){

    .page-container{
        float: left;
        margin: 30%  0 0 0;
        padding: 0 0 0 0;
        width: 100%;

    }
    img { 
        max-width: 100%; 
    }

    .nav-ds{
        margin: 0 0 0 0;        
    }
    .nav-ds li{
        width: 20%;

    }
    .nav-ds li a{
        margin: 0 0 0 0;
        padding: 4% 0 4% 0;
        text-align: center; 
    }   

    .partner-form{
        float: left;
        width: 100%;
        margin: 0 0 0 0%;
        padding: 1% 5% 1% 5%;
        border-radius:7px;
        -moz-border-radius:7px; /* Firefox 3.6 and earlier */
        border: #230fba solid 1px;
    }



    .new-article-upload-wrapper{
        float: left;
        width: 100%;
        margin: 0 0 0 0%;
        padding: 1%;
        border-radius:7px;
        -moz-border-radius:7px; /* Firefox 3.6 and earlier */
        border: #230fba solid 1px;

    }

    .login-title{
        float: left;
        width: 100%;
        margin: 6% 0 1% 0;
        text-align: center;
        font-size: 14pt;
        font-weight: bold;            
    }

    .config-form-wrapper{
        float: left;
        width: 100%;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        border-radius:7px;
        -moz-border-radius:7px; /* Firefox 3.6 and earlier */
        border: #230fba solid 1px;

    }
    
    .comment-form-wrapper{
        float: left;
        width: 100%;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        border-radius:7px;
        -moz-border-radius:7px; /* Firefox 3.6 and earlier */
        border: #230fba solid 1px;

    }
    .summary-cell{        
        height: 150px;        
    }

    .summary-cell-data{        
        height: 120px; 
        font-size: 6pt;
    }

}

.home-desc{
    float: left;
    width: 100%;
    padding: 1% 10% 1% 10%;
    background-image:url(../img/bg.png);
    background-repeat:no-repeat;

    background-position:center; 

}

.login-page-container{
    float: left;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;

}


.title{
    float: left;
    width: 100%;
    margin: 4% 0 1% 0;
    text-align: center;
    font-size: 18pt;
    font-weight: bold;
    display: inline;    
}
.title-icon{
    float: left;
    width: 10%;   
    display: inline;    
    padding: 2px;
    margin: 4% 0 0 0;
}
.title-wrapper{
    float: left;
    width: 100%;       
}


.footer{
    float: left;
    width: 100%;      
    margin: 50% 0 0 0;
    padding: 0 0 0 0;
    text-align: center;
} 

.footer a{
    color: #230fba;
}
.footer a:visited{
    color: #230fba;    
}

.login-form-wrapper{
    float: left;
    width: 50%;    
    padding: 0 0 0 0;
    margin: 0 0 0 25%;
    border-radius:7px;
    -moz-border-radius:7px; /* Firefox 3.6 and earlier */
    border: #230fba solid 1px;
    background: whitesmoke;
}
.login-element-row{
    float: left;
    width: 100%;       
}

.login-button-row{
    float: left;
    width: 100%;
    text-align: center;
    margin: 2% 0 2% 0;
}

.login-fail{
    width: 100%;
    color: red;
    font-weight: bold;
    font-size: 12pt;
    text-align: center;
    margin: 0 0 1% 0;
}


.page-container a{
    color: #230fba;
}

.page-container a:hover{
    color: red;
}
.page-container a:visited{
    color: #230fba;
}

.location-table{
    width: 80%;
    margin: 0 0 0 10%;

}
.location-table a{
    text-decoration: underline;    
}

.column-delete{
    text-align: right;
}

.image-delete{
    text-align: left;    
}



.config-element-wrapper{
    float: left;
    width: 96%;  
    margin: 1% 0 0 2%;
    padding: 0 0 1% 0;
    border-radius:7px;
    -moz-border-radius:7px; /* Firefox 3.6 and earlier */
    border: #230fba solid 1px;
}


.comment-element-wrapper{
    float: left;
    width: 96%;  
    margin: 1% 0 0 2%;
    padding: 0 0 1% 0;
    border-radius:7px;
    -moz-border-radius:7px; /* Firefox 3.6 and earlier */
    border: #230fba solid 1px;
}


.comment-delete-element-wrapper{
    float: left;
    width: 96%;  
    margin: 1% 0 0 2%;
    padding: 1% 0 1% 0;
    border-radius:7px;
    -moz-border-radius:7px; /* Firefox 3.6 and earlier */
    border: #230fba solid 1px;
}

.mail-server-element-wrapper{
    float: left;
    width: 95%;  
    margin: 1% 0 0 3%;
    padding: 0 0 1% 0;
    border-radius:7px;
    -moz-border-radius:7px; /* Firefox 3.6 and earlier */
    border: gainsboro solid 1px;
}

.summary-wrapper{
    float: left;
    width: 100%;
    margin: 0 0 0 0;


}
.summary-row{
    float: left;
    width: 100%;
    margin: 0 0 0 0;

}

.summary-cell{
    float: left;
    width: 46%;
    margin: 1% 0 1% 3%;
    padding: 1%;
    display: inline; 
    border-radius:7px;
    -moz-border-radius:7px; /* Firefox 3.6 and earlier */
    border: #230fba solid 1px;  
   

}

.summary-cell-title{
    float: left;
    width: 100%;
    font-weight: bold;
    text-align: center;
    background: black;
    color: white;
}
.summary-cell-title a{
    color: white;
}
.summary-cell-title a:visited{
    color: white;
}
.summary-cell-title a:hover{
    color: red;
}


.summary-cell-data{
    float: left;
    width: 100%;    
    margin: 1% 0 0 0;
    overflow-y: scroll;
}

.summary-cell-data a{
    color: #230fba;    
}
.summary-cell-data a:visited{
   color: #230fba;    
}
.summary-cell-data a:hover{
    color: red;
}

.auth-on{
    width: 100%;
    display: block;
}
.auth-off{
    width: 100%;
    display: none;
}

.footer{
    float: left;
    width: 100%;
    text-align: center;
    margin: 40% 0 10% 0;
}

.text-color-green{
    color: green;
}

.text-color-red{
    color: red;
}