body {
  background: #E7E4E4;
  color: black;
}
body a:link {
  color: black;
}
body a:visited {
  color: black;
}
body a:hover {
  color: #A05353;
}
.header-bar {
  width: 100%;
}
@media (min-width: 1024px) {
  .header-bar {
    height: 100px;
  }
}
@media (max-width: 1024px) {
  .header-bar {
    height: 100px;
  }
}
@media (max-width: 768px) {
  .header-bar {
    height: 50px;
    font-size: 14pt;
  }
}
@media (max-width: 480px) {
  .header-bar {
    height: 40px;
  }
}
.header-wrapper {
  background: white;
  padding: 1% 0 1% 0;
}
.logo {
  display: inline;
  padding: 0 0 0 1%;
}
.logo img {
  max-width: 10%;
}
.twitter {
  float: right;
  margin: 0 1% 0 0;
}
.linkedin {
  float: right;
  margin: 0 3% 0 0;
}
.content-bar1 {
  border-bottom: 2px solid;
  border-color: green;
}
@media (min-width: 1024px) {
  .content-bar1 {
    height: 800px;
    font-size: 20pt;
  }
}
@media (max-width: 1024px) {
  .content-bar1 {
    height: 800px;
    font-size: 18pt;
  }
}
@media (max-width: 768px) {
  .content-bar1 {
    height: 600px;
    font-size: 14pt;
  }
}
@media (max-width: 480px) {
  .content-bar1 {
    height: 600px;
    font-size: 12pt;
  }
}
.content-bar2 {
  border-bottom: 2px solid;
  border-color: green;
}
@media (min-width: 1024px) {
  .content-bar2 {
    height: 600px;
    font-size: 14pt;
  }
}
@media (max-width: 1024px) {
  .content-bar2 {
    height: 600px;
    font-size: 14pt;
  }
}
@media (max-width: 768px) {
  .content-bar2 {
    height: 400px;
    font-size: 14pt;
  }
}
@media (max-width: 480px) {
  .content-bar2 {
    font-size: 12pt;
    height: 400px;
  }
}
.download-page a:link {
  text-decoration: underline;
}
.download-page a:visited {
  text-decoration: underline;
}
@media (min-width: 1024px) {
  .download-page {
    height: 600px;
    font-size: 20pt;
  }
}
@media (max-width: 1024px) {
  .download-page {
    height: 600px;
    font-size: 18pt;
  }
}
@media (max-width: 768px) {
  .download-page {
    height: 400px;
    font-size: 14pt;
  }
}
@media (max-width: 480px) {
  .download-page {
    height: 400px;
    font-size: 12pt;
  }
}
.main-page a:link {
  text-decoration: underline;
}
.main-page a:visited {
  text-decoration: underline;
}
@media (min-width: 1024px) {
  .main-page {
    width: 80%;
    margin: 0 0 0 10%;
    height: 600px;
    font-size: 20pt;
  }
}
@media (max-width: 1024px) {
  .main-page {
    width: 80%;
    margin: 0 0 0 10%;
    height: 600px;
    font-size: 18pt;
  }
}
@media (max-width: 768px) {
  .main-page {
    width: 100%;
    margin: 0 0 0 0;
    height: 400px;
    font-size: 14pt;
    border-radius: 0px;
  }
}
@media (max-width: 480px) {
  .main-page {
    width: 100%;
    margin: 0 0 0 0;
    height: 400px;
    font-size: 12pt;
    border-radius: 0px;
  }
}
.content-title {
  text-align: center;
  width: 100%;
  padding: 2% 0 1% 0;
}
.form-submit {
  text-align: center;
  width: 100%;
  padding: 1% 0 0 0;
}
.footer {
  text-align: center;
  width: 100%;
  padding: 3% 0 3% 0;
}
