.news-middle{
    float: left;
    display: inline;

}
.news-right{
    float: left;
}



@media screen and (min-width: 1200px){

    .news-middle{        
        width: 80%;   
    }
    .news-right{        
        width: 20%;    
        display: inline;
    }

}


@media screen and (max-width: 1200px){
    .news-middle{        
        width: 80%;   
    }
    .news-right{        
        width: 20%;    
        display: inline;
    }
}

@media screen and (max-width: 1000px){
    .news-middle{        
        width: 80%;   
    }
    .news-right{        
        width: 20%;    
        display: inline;
    }
}



@media screen and (max-width: 800px){
    .news-middle{        
        width: 100%;   
    }
    .news-right{ 
        display: none;
    }
}

@media screen and (max-width: 600px){
    .news-middle{        
        width: 100%;   
    }
    .news-right{ 
        display: none;
    }
}

@media screen and (max-width: 500px){
    .news-middle{        
        width: 100%;   
    }
    .news-right{ 
        display: none;
    }
}

@media screen and (max-width: 400px){
    .news-middle{        
        width: 100%;   
    }
    .news-right{ 
        display: none;
    }
}

@media screen and (max-width: 300px){
    .news-middle{        
        width: 100%;   
    }
    .news-right{ 
        display: none;
    }
}