<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport"    content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">

        <title>Ken Williamson</title>

        <link rel="shortcut icon" href="img/gt_favicon.png">

        <!-- Bootstrap itself -->
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">

        <!-- Custom styles -->
        <link rel="stylesheet" href="css/magister.css">

        <!-- Fonts -->
        <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href='css/onewire.css' rel='stylesheet' type='text/css'>
    </head>

    <!-- use "theme-invert" class on bright backgrounds, also try "text-shadows" class -->
    <body class="theme-invert">

        <nav class="mainmenu">
            <div class="container">
                <div class="dropdown">
                    <button type="button" class="navbar-toggle" data-toggle="dropdown"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    <!-- <a data-toggle="dropdown" href="#">Dropdown trigger</a> -->
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li><a href="#head" class="active">Home</a></li>
                        <li><a href="#about">About Ken</a></li>
                        <li><a href="#books">Books</a></li>
                        <li><a href="#contact">Get in touch</a></li>
                    </ul>
                </div>
            </div>
        </nav>


        <!-- Main (Home) section -->
        <section class="section" id="head">
            <div class="container">

                <div class="row">
                    <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">
                       {{#each content.articleLocations.Kw}}
                        <div class="post-preview">                            
                            {{{articleText.text}}}                                 
                        </div>                         
                        {{/each}}   
                    </div> <!-- /col -->
                </div> <!-- /row -->

            </div>
        </section>

        <!-- Second (About) section -->
        <section class="section" id="about">
            <div class="container">                
                <div class="row">
                    {{#each content.articleLocations.AboutKen}}
                        <div class="post-preview">                            
                            {{{articleText.text}}}                                 
                        </div>                         
                    {{/each}} 
                </div>
            </div>
        </section>

        <!-- Third (Works) section -->
        <section class="section" id="books">
            <div class="container">
                {{#each content.articleLocations.Books}}
                    <div class="post-preview">                            
                        {{{articleText.text}}}                                 
                    </div>                         
                {{/each}} 
            </div>
        </section>

        <!-- Fourth (Contact) section -->
        <section class="section" id="contact">
            <div class="container">
            {{#each content.articleLocations.InTouch}}
                <div class="post-preview">                            
                    {{{articleText.text}}}                                 
                </div>                         
            {{/each}} 

            </div>
        </section>
        
       

        <!-- Load js libs only when the page is loaded. -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/modernizr.custom.72241.js"></script>
        <!-- Custom template scripts -->
        <script src="js/magister.js"></script>
    </body>
    
</html>