<!DOCTYPE html>
<html>
{{template "header"}}

<body>
  <div class="ui container">
    {{template "navbar"}}
    <h2 class="ui center aligned header">Backups</h2>

    <div class="ui warning message">
      <div class="header">
        Always Make Backups!
      </div>
      You should always make a backup file when you make changes to your site. Save the backup file in a safe place
      labeled by date.
      If for some reason you need to completely restore your previous site, just upload the backup file and the site
      will
      be completely restored.
    </div>

    <div class="ui placeholder segment">
      <div class="ui two column stackable center aligned grid">
        <!-- <div class="ui vertical divider">Or</div> -->
        <div class="middle aligned row">
          <div class="column">
            <h3 class="ui center aligned header">Download a Backup File</h3>
            <a href="/admin/downloadBackup"><button class="ui primary button">
                Create Backup File
              </button></a>            
          </div>
          <div class="column">
            <h3 class="ui center aligned header">Restore Your Site</h3>
            <a href="/admin/backupUpload"><button class="ui primary button">
                Upload Backup File
              </button></a>            
          </div>
        </div>
      </div>
    </div>




  </div>
</body>
{{template "footer"}}

</html>