<!DOCTYPE html>
<html>
{{template "header"}}

<body>
    <div class="ui container">
        {{template "navbar"}}
        <h2 class="ui center aligned header">Upload New Image</h2>
        <div class="ui segment">    
        <form class="ui form" method="post" action="/admin/uploadImage" enctype="multipart/form-data">            
            <div class="field">
                <label>Image File</label>
                <input name="image" type="file" required>                
            </div> 
            <br>   
            <button class="ui primary button" type="submit">Submit</button>  
            <br>
        </form>
    </div>  
    </div>
    <br>
</body>
{{template "footer"}}

</html>