<!DOCTYPE html>
<html>
{{template "header"}}

<body>
    <div class="ui container">
        {{template "navbar"}}
        <h2 class="ui center aligned header">Template List</h2>
        <a  href="/admin/addTemplate"><button class="ui primary button">
            Add Template
        </button></a>
        
        <table class="ui selectable celled table">
            <thead>
                <tr>
                    <th>Template</th>
                    <th>Name</th>
                    <th>Activate</th>
                    <th>Remove</th>

                </tr>
            </thead>
            <tbody>
                {{range .}}
                <tr>
                    <td>
                        <img class="ui medium image" src="{{.ScreenShot}}">
                    </td>
                    <td>{{.Name}}</td>
                    {{if .Active}}
                    <td class="positive">Active</td>
                    {{else}}
                    <td><a href="/admin/templateActive/{{.Name}}" class="btn btn-primary active" role="button" aria-pressed="true">Make Active</a></td>
                    {{end}} 
                    
                    {{if .Active}}
                    <td class="warning">Not Allowed</td>
                    {{else}}
                    <td>
                    <button onclick="setTemplateIdAndName({{.Name}}, {{.Name}})" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
                        Delete                                      
                      </button> {{end}}
                    </td>
                </tr>

                {{end}}
            </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">
                    Delete this template
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" onclick="location.href='/admin/deleteTemplate/' + getTemplateId() + '/' + getTemplateName();">Delete</button>
                </div>
            </div>
        </div>
    </div>
</body>
{{template "footer"}}

</html>