<!DOCTYPE html>
<html>
    <% include head%> 
    <body> 
        <div class="top-menu">
            <div class="top-menu-space">
                <div class="logo">Ulbora CMS</div>
                
            </div>
            <div class="top-menu-menu">
                <nav>
                    <ul>
                        <li><a class=""  href="/">Home</a></li>
                        <li><a class="" href="/about.html">About</a></li>
                        <li><a class="" href="/contacts.html">Contacts</a></li>
                        <li><a class="" href="/blog.html">Blog</a></li>
                        <li><a class="" href="/login.html">Login</a></li>
                    </ul>
                </nav>
            </div>
        </div>   
        <div id="container" class="container">  
            <div class="article-wrapper">
                <div class="article-title">Ulbora CMS</div>
                <div class="article">
                    

                </div>                
            </div> 
            
        </div>
        <div class="footer-long">
            Copyright 2014 Ulbora CMS | TOS | Powered by Ulbora CMS
        </div>
    </body>
</html>
