<!DOCTYPE html>
<html>
    <% include head%> 
    <body> 
        <div class="top-menu">
            <div class="top-menu-space">
                <div class="logo">Ulbora CMS</div>
                
            </div>
            <div class="top-menu-menu">
                <nav>
                    <ul>
                        <li><a class=""  href="/">Home</a></li>
                        <li><a class="" href="/about.html">About</a></li>
                        <li><a class="" href="/contacts.html">Contacts</a></li>
                        <li><a class="" href="/blog.html">Blog</a></li>
                        <%if (loggedIn) { %>
                            <li><a class="" href="/logout">Logout</a></li>
                        <% }else{ %>
                            <li><a class="" href="/login">Login</a></li>
                        <% } %>
                    </ul>
                </nav>
            </div>
        </div>   
        <div id="container" class="container">  
            <div class="article-wrapper">
                <div class="article-title">Ulbora CMS</div>
                <div class="article">
                    <%- content.articleText.text %>
                </div>                
            </div> 
            <%if (content.allowComments && (!content.commentsRequireLogin || loggedIn)) { %>
                <div class="comments">
                <div class="comment-form-wrapper">
                    <form>
                        <div class="comment-form-label">
                            <label for="commentText">Add Comment:</label>
                        </div>
                        <div class="comment-form-entry-box">
                            <textarea class="comment-form-textarea" name="commentText" placeholder="Comment" required></textarea>
                        </div>

                        <div class="comment-form_button">
                            <button type="submit" class="form-button">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="comments-list">
                    <% for(var i=0; i<content.commentList.length; i++) {%>  
                        <div class="comment-entry">
                            <div class="comment-user">
                                <%= content.commentList[i].commenter.firstName %> <%= content.commentList[i].commenter.lastName %>
                            </div>
                            <div class="comment-text">
                                <%= content.commentList[i].text %>
                            </div>                        
                        </div>                        
                    <% } %> 
                </div>
            </div>
            <% }else if(content.allowComments && !loggedIn){ %>
                <div class="comment-link">Comments Require Login</div>
            <% } %>
            
        </div>
        <div class="footer-long">
            Copyright 2014 Ulbora CMS | TOS | Powered by Ulbora CMS
        </div>
    </body>
</html>
