<head>
        <title>Ulbora CMS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <script src="js/libs/jquery-1.10.2.min.js"></script>  
        <script src="js/javascript.js"></script>  
        <link rel="stylesheet" href="lib-css/bootstrap.min.css"  media="screen"/>
        <link rel="stylesheet" href="css/body.css"  media="screen"/> 
        <link rel="stylesheet" href="css/menu.css"  media="screen"/> 
        <link rel="stylesheet" href="css/page.css"  media="screen"/> 
        <link rel="stylesheet" href="css/login.css"  media="screen"/> 
        <link rel="stylesheet" href="css/comments.css"  media="screen"/> 
        <link rel="stylesheet" href="css/registration.css"  media="screen"/>
        <link rel="stylesheet" href="css/forms.css"  media="screen"/> 

        <script src="js/libs/bootstrap.min.js"></script>
    </head>
    
