<!DOCTYPE html>
<html>
    <% include head%> 
    <body> 
        <div class="top-menu">
            <div class="top-menu-space">
                <div class="logo">Ulbora CMS</div>
                
            </div>
            <div class="top-menu-menu">
                <nav>
                    <ul>
                        <li><a class="active"  href="/">Home</a></li>
                        <li><a class="" href="/about.html">About</a></li>
                        <li><a class="" href="/contacts.html">Contacts</a></li>
                        <li><a class="" href="/blog.html">Blog</a></li>
                        <li><a class="" href="/login.html">Login</a></li>
                    </ul>
                </nav>
            </div>
        </div>   
        <div id="container" class="container">  
            <% for(var i=0; i<content.articleLocations.FrontPage.length; i++) {%>                
                <div class="article-wrapper">
                    <%if (content.articleLocations.FrontPage[i].showTitle) { %>
                        <div class="article-title"><%= content.articleLocations.FrontPage[i].title %></div>
                    <% } %>
                    
                    <div class="article">
                        <%- content.articleLocations.FrontPage[i].articleText.text %>
                    </div> 
                    <%if (!content.articleLocations.FrontPage[i].fullPage) { %>
                        <div class="article-read-more"><a class="" href="/article.html?id=<%= content.articleLocations.FrontPage[i]._id %>">Read More...</a></div>
                    <% } %>
                </div>

            <% } %>            
            
        </div>
        <div class="footer-long">
            Copyright 2014 Ulbora CMS | TOS | Powered by Ulbora CMS
        </div>
    </body>
</html>
