<!DOCTYPE html>
<html>
    <head>
        <title>Ulbora CMS Admin Site</title>             
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <link rel="stylesheet" href="lib-css/bootstrap.min.css"  media="screen"/> 
        <link rel="stylesheet" href="css/body.css"  media="screen"/> 


        <script src="js/libs/jquery-1.10.2.min.js"></script>  
        <script src="js/libs/spin.min.js"></script>
        <script src="js/libs/bootstrap.min.js"></script>

    </head>
    <body>
        <div><%= name %></div>
    </body>
</html>
