<!DOCTYPE html>
<html>
    <% include head%> 
    <body> 
        <div class="top-menu">
            <div class="top-menu-space">
                <div class="logo">Ulbora CMS</div>
                
            </div>
            <div class="top-menu-menu">
                <nav>
                    <ul>
                        <li><a class="" href="/">Home</a></li>
                        <li><a class="" href="/about.html">About</a></li>
                        <li><a class="" href="/contacts.html">Contacts</a></li>
                        <li><a class="" href="/blog.html">Blog</a></li>
                        <li><a class="active" href="/login">Login</a></li>
                    </ul>
                </nav>
            </div>
        </div>   
        <div id="container" class="container">  
            <div class="login-outer-form-wrapper">
                <div class="login-form-wrapper">
                    <%if (loginFailed) { %>
                        <div class="failed-login"><%= message %></div>
                    <% } %>
                    <form action="/login" method="post">                        
                            <div class="login-label" >
                                <label for="username">Username:</label>
                            </div>
                            <div class="login-element">
                                <input type="text" name="username"/>                          
                            </div>
                            <div class="login-label">
                                <label for="username">Password</label>
                            </div>
                            <div class="login-element">
                                <input type="password" name="password"/>                          
                            </div>

                            <div class="login-button">
                                <button type="submit" class="">Sign In</button>
                            </div>
                    </form>   
                </div>
                <div class="login-links">
                    <div class="login-link-cell"><a href="/register">Register</a></div>
                    <div class="login-link-cell"><a href="/resetPassword">Reset Password</a></div>
                </div>
            </div>              
        </div>
        <div class="footer-long">
            Copyright 2014 Ulbora CMS | TOS | Powered by Ulbora CMS
        </div>
    </body>
</html>
