<div class="top-menu">
    <div class="top-menu-space">
        <div class="logo">Ulbora CMS</div>
                
        </div>
        <div class="top-menu-menu">
        <nav>
            <ul>
                <li><a onclick="setMenuActive();" id="m1" class="active"  href="/">Home</a></li>
                <li><a onclick="setMenuActive();" id="m2" class="" href="/about">About</a></li>
                <li><a class="" href="/contacts.html">Contacts</a></li>
                <li><a class="" href="/blog">Blog</a></li>
                <li><a class="" href="/login">Login</a></li>
            </ul>
        </nav>

    </div>
</div>   
    
