<!DOCTYPE html>
<html>
    <% include head%> 
    <body> 
        <div class="top-menu">
            <div class="top-menu-space">
                <div class="logo">Ulbora CMS</div>
                
            </div>
            <div class="top-menu-menu">
                <nav>
                    <ul>
                        <li><a class="" href="/">Home</a></li>
                        <li><a class="" href="/about.html">About</a></li>
                        <li><a class="" href="/contacts.html">Contacts</a></li>
                        <li><a class="" href="/blog.html">Blog</a></li>
                        <li><a class="active" href="/login">Login</a></li>
                    </ul>
                </nav>
            </div>
        </div>   
        <div id="container" class="container">  
            <div class="registration-result-wrapper"> 
                <div class="registration-failed">
                    Operation failed.
                </div>        
            </div>            
        </div>
        <div class="footer-long">
            Copyright 2014 Ulbora CMS | TOS | Powered by Ulbora CMS
        </div>
    </body>
</html>
