<!DOCTYPE html>
<html>
    <% include head%> 
    <body> 
        <div class="top-menu">
            <div class="top-menu-space">
                <div class="logo">Ulbora CMS</div>
            </div>
            <div class="top-menu-menu">
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about.html">About</a></li>
                        <li><a href="/contacts.html">Contacts</a></li>
                        <li><a class="active" href="/blog.html">Blog</a></li>
                        <li><a href="/login">Login</a></li>
                    </ul>
                </nav>

            </div>
        </div>   
        <div id="container" class="container">  
            <div class="register-outer-form-wrapper">
                <div class="register-title">Reset Password</div>
                <div class="register-form-wrapper">
                    <form action="/resetPassword" method="post">                        
                        <div class="register-label" >
                            <label class="support-form-label" for="username">Username:</label>
                        </div>
                        <div class="register-element">
                            <input class="form-left-text-element" type="text" name="username"/>                          
                        </div>
                                                
                        <div class="register-label" >
                            <label class="support-form-label" for="email">Email</label>
                        </div>
                        <div class="register-element">
                            <input class="form-left-text-element" type="email" name="emailAddress"/>                          
                        </div>
                        
                        <div class="register-label" >
                            <label class="support-form-label" for="question">Question</label>
                        </div>
                        <div class="register-element">
                            <input class="form-left-text-element" type="text" name="question" value="<%= question %>"/>                          
                        </div>
                        
                        <div class="register-label" >
                            <label class="support-form-label" for="answer">Answer</label>
                        </div>
                        <div class="register-element">
                            <input class="form-left-text-element" type="text" name="answer"/>  
                            <input id="key" type="hidden" name="key" value="<%= key %>"  /> 
                        </div>

                        <div class="register-button">
                            <button type="submit" class="">Register</button>
                        </div>                       
                    </form>                      
                </div>                
            </div>              
        </div>
        <div class="footer-long">
            Copyright 2014 Ulbora CMS | TOS | Powered by Ulbora CMS
        </div>
    </body>
</html>
