<div ng-include src="'partials/mainMenu1.html'"></div>   


<div id="container" class="container">
    <div class="page-container">
        <div class="title-wrapper">            
            <div class="title">Comment</div>
        </div>
        <div class="comment-form-wrapper">
            <form  ng-submit="submit()" ng-controller="CommentEditCtrl">
                <input type="hidden" ng-model="commentId"/>
                <div class="comment-element-wrapper">
                    <div class="support-label">
                        <label class="support-form-label" for="name">Comment:</label>  
                    </div>
                    <div class="support-element">
                        <textarea class="form-left-text-element"  rows="3" ng-model="text" name="text"  required/>                        
                    </div>
                </div>
                <div class="comment-element-wrapper">                   
                    <label class="comment-form-label">Article:</label>  {{articleTitle}}
                </div>

                <div class="comment-element-wrapper">                    
                    <label class="comment-form-label" for="code">Commenter:</label>  {{commenter}}
                </div>
                <div class="comment-element-wrapper">
                    <div class="support-label">
                        <label class="support-form-label" for="approved">Approve:</label>  
                    </div>
                    <div class="support-radio-element">
                        <div class="form-radio">
                            <label>
                                <input type="radio" ng-model="approved"  name="approved" value="true" />
                                Yes
                            </label>
                        </div>
                        <div class="form-radio">
                            <label>
                                <input type="radio" ng-model="approved"  name="approved" value="false" />
                                No
                            </label>
                        </div>
                    </div>
                </div>

                <div class="comment-delete-element-wrapper">  
                    <span class="article-delete-button-span-element">Delete</span> <span ng-controller="DeleteCommentCtrl" ng-click="delete(commentId, text)" class="glyphicon glyphicon-trash clickable-image"></span>                   
                </div>

                <div class="support-submit-button-row">
                    <button  type="submit" class="btn btn-default">Save</button>
                </div>

            </form>
        </div>
    </div>
</div>

<div ng-include src="'partials/footer.html'"></div>