<div ng-include src="'partials/configurationMenu.html'"></div>   


<div id="container" class="container">
    <div class="page-container">
        <div class="title-wrapper">            
            <div class="title">Configuration</div>
        </div>
        <div class="config-form-wrapper">
            <form  ng-submit="submit()" ng-controller="ConfigurationEditCtrl">
                <input type="hidden" ng-model="id"/>                
                <div class="config-element-wrapper">
                    <div class="support-label">
                        <label class="support-form-label" for="siteName">Site Name:</label>  
                    </div>
                    <div class="support-element">
                        <input class="form-left-text-element" type="text" ng-model="siteName" name="siteName" placeholder="name"  required/>
                    </div>
                </div>
                <div class="config-element-wrapper">
                    <div class="support-label">
                        <label class="support-form-label" for="domainName">Domain Name:</label>  
                    </div>
                    <div class="support-element">
                        <input class="form-left-text-element" type="text" ng-model="domainName" name="domainName" placeholder="domain name"  required/>
                    </div>
                </div>
                <div class="config-element-wrapper">
                    <div class="support-label">
                        <label class="support-form-label" for="desc">Site Description:</label>  
                    </div>
                    <div class="support-element">
                        <textarea class="form-left-text-element"  rows="3" ng-model="desc" name="desc" placeholder="Description"  required/>
                    </div>
                </div>

                <div class="config-element-wrapper">
                    <div class="support-label">
                        <label class="support-form-label" for="languageId">Language:</label>  
                    </div>
                    <div class="support-element">
                       <select class="form-select-element-left" ng-model="languageId"  ng-options="lan._id as lan.name for lan in languageList" name="languageId" required>
                            </select>
                    </div>
                </div>
                
                <div class="config-element-wrapper">
                    <div class="support-label">
                        <label class="support-form-label" for="actEmailSub">Activation Email Subject:</label>  
                    </div>
                    <div class="support-element">
                        <textarea class="form-left-text-element"  rows="2" ng-model="actEmailSub" name="actEmailSub" placeholder="Activation Email Subject"  />
                    </div>
                </div>
                
                <div class="config-element-wrapper">
                    <div class="support-label">
                        <label class="support-form-label" for="actEmailTitle">Activation Email Title:</label>  
                    </div>
                    <div class="support-element">
                        <input class="form-left-text-element" type="text" ng-model="actEmailTitle" name="actEmailTitle" placeholder="Activation Email Title"  />
                    </div>
                </div>
                
                <div class="config-element-wrapper">
                    <div class="support-label">
                        <label class="support-form-label" for="actEmailGreeting">Activation Email Greeting:</label>  
                    </div>
                    <div class="support-element">
                        <input class="form-left-text-element" type="text" ng-model="actEmailGreeting" name="actEmailGreeting" placeholder="Activation Email Greeting"  />
                    </div>
                </div>

                <div class="config-element-wrapper">
                    <div class="support-label">
                        <label class="support-form-label" for="actEmailMessage">Activation Email Message:</label>  
                    </div>
                    <div class="support-element">
                        <textarea class="form-left-text-element"  rows="2" ng-model="actEmailMessage" name="actEmailMessage" placeholder="Activation Email Message"  />
                    </div>
                </div>
                
                 <div class="config-element-wrapper">
                    <div class="support-label">
                        <label class="support-form-label" for="actEmailUrl">Activation Email URL:</label>  
                    </div>
                    <div class="support-element">
                        <input class="form-left-text-element" type="text" ng-model="actEmailUrl" name="actEmailUrl" placeholder="Activation Email URL"  />
                    </div>
                </div>
                
                <div class="config-element-wrapper">
                    <div class="support-label">
                        <label class="support-form-label" for="actEmailFrom">Activation Email From Address:</label>  
                    </div>
                    <div class="support-element">
                        <input class="form-left-text-element" type="text" ng-model="actEmailFrom" name="actEmailFrom" placeholder="Activation Email From Address"  />
                    </div>
                </div>
                
                 <div class="config-element-wrapper">
                    <div class="support-label">
                        <label class="support-form-label" for="welcomeEmailSub">Welcome Email Subject:</label>  
                    </div>
                    <div class="support-element">
                        <textarea class="form-left-text-element"  rows="2" ng-model="welcomeEmailSub" name="welcomeEmailSub" placeholder="Welcome Email Subject"  />
                    </div>
                </div>
                
                <div class="config-element-wrapper">
                    <div class="support-label">
                        <label class="support-form-label" for="welcomeEmailTitle">Welcome Email Title:</label>  
                    </div>
                    <div class="support-element">
                        <input class="form-left-text-element" type="text" ng-model="welcomeEmailTitle" name="welcomeEmailTitle" placeholder="Welcome Email Title"  />
                    </div>
                </div>
                
                <div class="config-element-wrapper">
                    <div class="support-label">
                        <label class="support-form-label" for="welcomeEmailGreeting">Welcome Email Greeting:</label>  
                    </div>
                    <div class="support-element">
                        <input class="form-left-text-element" type="text" ng-model="welcomeEmailGreeting" name="welcomeEmailGreeting" placeholder="Welcome Email Greeting"  />
                    </div>
                </div>

                <div class="config-element-wrapper">
                    <div class="support-label">
                        <label class="support-form-label" for="welcomeEmailMessage">Welcome Email Message:</label>  
                    </div>
                    <div class="support-element">
                        <textarea class="form-left-text-element"  rows="2" ng-model="welcomeEmailMessage" name="welcomeEmailMessage" placeholder="Welcome Email Message"  />
                    </div>
                </div>
                
                 <div class="config-element-wrapper">
                    <div class="support-label">
                        <label class="support-form-label" for="welcomeEmailUrl">Welcome Email URL:</label>  
                    </div>
                    <div class="support-element">
                        <input class="form-left-text-element" type="text" ng-model="welcomeEmailUrl" name="welcomeEmailUrl" placeholder="Welcome Email URL"  />
                    </div>
                </div>
                
                <div class="config-element-wrapper">
                    <div class="support-label">
                        <label class="support-form-label" for="welcomeEmailFrom">Welcome Email From Address:</label>  
                    </div>
                    <div class="support-element">
                        <input class="form-left-text-element" type="text" ng-model="welcomeEmailFrom" name="welcomeEmailFrom" placeholder="Welcome Email From Address"  />
                    </div>
                </div>

                 <div class="config-element-wrapper">
                    <div class="support-label">
                        <label class="support-form-label" for="passwordResetEmailSub">Password Reset Email Subject:</label>  
                    </div>
                    <div class="support-element">
                        <textarea class="form-left-text-element"  rows="2" ng-model="passwordResetEmailSub" name="passwordResetEmailSub" placeholder="Password Reset Email Subject"  />
                    </div>
                </div>
                
                <div class="config-element-wrapper">
                    <div class="support-label">
                        <label class="support-form-label" for="passwordResetEmailTitle">Welcome Email Title:</label>  
                    </div>
                    <div class="support-element">
                        <input class="form-left-text-element" type="text" ng-model="passwordResetEmailTitle" name="passwordResetEmailTitle" placeholder="Password Reset Email Title"  />
                    </div>
                </div>
                
                <div class="config-element-wrapper">
                    <div class="support-label">
                        <label class="support-form-label" for="passwordResetEmailGreeting">Welcome Email Greeting:</label>  
                    </div>
                    <div class="support-element">
                        <input class="form-left-text-element" type="text" ng-model="passwordResetEmailGreeting" name="passwordResetEmailGreeting" placeholder="Password Reset Email Greeting"  />
                    </div>
                </div>

                <div class="config-element-wrapper">
                    <div class="support-label">
                        <label class="support-form-label" for="passwordResetEmailMessage">Welcome Email Message:</label>  
                    </div>
                    <div class="support-element">
                        <textarea class="form-left-text-element"  rows="2" ng-model="passwordResetEmailMessage" name="passwordResetEmailMessage" placeholder="Password Reset Email Message"  />
                    </div>
                </div>
                
                 <div class="config-element-wrapper">
                    <div class="support-label">
                        <label class="support-form-label" for="passwordResetEmailUrl">Welcome Email URL:</label>  
                    </div>
                    <div class="support-element">
                        <input class="form-left-text-element" type="text" ng-model="passwordResetEmailUrl" name="passwordResetEmailUrl" placeholder="Password Reset Email URL"  />
                    </div>
                </div>
                
                <div class="config-element-wrapper">
                    <div class="support-label">
                        <label class="support-form-label" for="passwordResetEmailFrom">Welcome Email From Address:</label>  
                    </div>
                    <div class="support-element">
                        <input class="form-left-text-element" type="text" ng-model="passwordResetEmailFrom" name="passwordResetEmailFrom" placeholder="Password Reset Email From Address"  />
                    </div>
                </div>
                
               

                <div class="support-submit-button-row">
                    <button  type="submit" class="btn btn-default">Save</button>
                </div>

            </form>
        </div>
    </div>
</div>
<div ng-include src="'partials/footer.html'"></div>