<div ng-include src="'partials/locationMenu.html'"></div>   


<div id="container" class="container">   
    <div class="page-container">
        <div class="title-wrapper">            
            <div class="title">Locations</div>
        </div>
        <table class="table table-striped table-hover location-table">
        <thead>
            <tr>
                <th>Location</th>                
                <th>Delete</th>
            </tr>        
        </thead>
        <tbody>
            <tr ng-repeat="loc in locationList" >
                <td>
                   <a href="#!location/{{loc._id}}">{{loc.name}}</a> 
                </td>                
                
                <td class="location-delete">
                    <span ng-controller="DeleteLocationCtrl" ng-click="deleteLocation(loc._id, loc.name)" class="glyphicon glyphicon-trash clickable-image"></span>                   
                </td>
                
            </tr>
        </tbody>
    </table>
    </div>
     
</div>


<div ng-include src="'partials/footer.html'"></div>