<div ng-include src="'partials/mainMenu6.html'"></div>   


<div id="container" class="container">
    <div class="page-container">
        <div class="title-wrapper">            
            <div class="title">Mail Server</div>
        </div>
        <div class="comment-form-wrapper">
            <form  ng-submit="submit()" ng-controller="MailServerEditCtrl">
                <input type="hidden" ng-model="mailServerId"/>
                <div class="support-element-wrapper">
                    <div class="support-label">
                        <label class="support-form-label" for="smtpHost">Host:</label>  
                    </div>
                    <div class="support-element">
                        <input class="form-left-text-element" type="text" ng-model="smtpHost" name="smtpHost"  required/>
                    </div>
                </div>
                <div class="support-element-wrapper">
                    <div class="support-label">
                        <label class="support-form-label" for="smtpPort">Port:</label>  
                    </div>
                    <div class="support-element">
                        <input class="form-left-text-element" type="text" ng-model="smtpPort" name="smtpPort"/>
                    </div>
                </div>

                
                <div class="mail-server-element-wrapper">
                    <div class="support-label">
                        <label class="support-form-label" for="approved">Secure</label>  
                    </div>
                    <div class="support-radio-element">
                        <div class="form-radio">
                            <label>
                                <input type="radio" ng-model="secure"  name="secure" value="true" />
                                Yes
                            </label>
                        </div>
                        <div class="form-radio">
                            <label>
                                <input type="radio" ng-model="secure"  name="secure" value="false" />
                                No
                            </label>
                        </div>
                    </div>
                </div>

               <div class="support-element-wrapper">
                    <div class="support-label">
                        <label class="support-form-label" for="username">Username:</label>  
                    </div>
                    <div class="support-element">
                        <input class="form-left-text-element" type="text" ng-model="username" name="username" />
                    </div>
                </div>
                
                <div class="support-element-wrapper">
                    <div class="support-label">
                        <label class="support-form-label" for="smtpHost">Password:</label>  
                    </div>
                    <div class="support-element">
                        <input class="form-left-text-element" type="password" ng-model="password" name="password"  required/>
                    </div>
                </div>
                
                 <div class="mail-server-element-wrapper">
                    <div class="support-label">
                        <label class="support-form-label" for="approved">Ignore TLS</label>  
                    </div>
                    <div class="support-radio-element">
                        <div class="form-radio">
                            <label>
                                <input type="radio" ng-model="ignoreTLS"  name="ignoreTLS" value="true" />
                                Yes
                            </label>
                        </div>
                        <div class="form-radio">
                            <label>
                                <input type="radio" ng-model="ignoreTLS"  name="ignoreTLS" value="false" />
                                No
                            </label>
                        </div>
                    </div>
                </div>
                
                 <div class="mail-server-element-wrapper">
                    <div class="support-label">
                        <label class="support-form-label" for="approved">Debug</label>  
                    </div>
                    <div class="support-radio-element">
                        <div class="form-radio">
                            <label>
                                <input type="radio" ng-model="debug"  name="debug" value="true" />
                                Yes
                            </label>
                        </div>
                        <div class="form-radio">
                            <label>
                                <input type="radio" ng-model="debug"  name="debug" value="false" />
                                No
                            </label>
                        </div>
                    </div>
                </div>
                
                <div class="support-element-wrapper">
                    <div class="support-label">
                        <label class="support-form-label" for="authMethod">Authentication Type:</label> 
                    </div>
                    <div class="support-element">   
                        <select class="form-select-element-left" ng-model="authMethod"  ng-options="auth as auth for auth in authMethodList" name="authMethod" required>
                        </select>
                    </div>
                </div>

                <div class="support-submit-button-row">
                    <button  type="submit" class="btn btn-default">Save</button>
                </div>

            </form>
        </div>
    </div>
</div>

<div ng-include src="'partials/footer.html'"></div>