<div ng-include src="'partials/productMenu.html'"></div>   


<div id="container" class="container">   
    <div class="page-container">
        <div class="title-wrapper">            
            <div class="title">{{productName}} Files</div>
        </div>
        <table class="table table-striped table-hover article-table">
        <thead>
            <tr>
                <th>Name</th>                
                <th>Version</th>
                <th>Downloads</th>
                <th>File</th>
                <th>Delete</th>
            </tr>        
        </thead>
        <tbody>
            <tr ng-repeat="prodFile in productFileList">
                <td>
                   <a href="#!productFile/{{prodFile.id}}">{{prodFile.name}}</a> 
                </td>
                <td>
                    {{prodFile.version}}
                </td>
                
                <td>
                    {{prodFile.downloadCount}}
                </td>
                <td>
                    <a href="{{downloadLink}}?id={{prodFile.id}}&username={{username}}&downloadKey={{downloadKey}}"><span class="glyphicon glyphicon-download clickable-image"></span></a>
                </td>
                <td>
                    <span ng-controller="DeleteProductFileCtrl" ng-click="deleteProductFile(prodFile.id, prodFile.name)" class="glyphicon glyphicon-trash clickable-image"></span>                   
                </td>
                
            </tr>
        </tbody>
    </table>
    </div>
     
</div>


<div ng-include src="'partials/footer.html'"></div>