<div ng-include src="'partials/templatesMenu.html'"></div>   


<div id="container" class="container">   
    <div class="page-container">
        <div class="title-wrapper">            
            <div class="title">Templates</div>
        </div>
        <table class="table table-striped table-hover article-table">
        <thead>
            <tr>                
                <th>Name</th>
                <th>Default</th>                                  
                <th>Delete</th>
            </tr>        
        </thead>
        <tbody>
            <tr ng-repeat="t in templateList" ng-switch on="t.defaultTemplate">
                
                <td>
                   <a href="#!template/{{t._id}}">{{t.name}}</a> 
                </td>               
                 <td ng-switch-when="false" class="text-color-red">
                    {{t.defaultTemplateStr}}
                </td>  
                <td ng-switch-when="true" class="text-color-green">
                    {{t.defaultTemplateStr}}
                </td>   
                <td ng-switch-when="false" >
                    <span ng-controller="DeleteTemplateCtrl" ng-click="delete(t._id, t.name)" class="glyphicon glyphicon-trash clickable-image"></span>                   
                </td>
                 <td ng-switch-when="true" >
                    <span class="glyphicon glyphicon-ban-circle"></span>
                </td>
                
            </tr>
        </tbody>
    </table>
    </div>
     
</div>

<div ng-include src="'partials/footer.html'"></div>
