<div ng-include src="'partials/templatesMenu.html'"></div> 


<div id="container" class="container">
    <div class="page-container">
        <div class="title-wrapper">            
            <div class="title">Upload Template</div>
        </div>
        <div class="support-form-wrapper">
            <form id="templateForm" method="post" action="" enctype="multipart/form-data">
                <input name="uploadKey" type="hidden" value="{{uploadKey}}"/> 
                <input name="username" type="hidden" value="{{username}}"/>
                <input name="errorLink" type="hidden" value="{{errorUrl}}"/> 
                <input name="returnLink" type="hidden" value="{{templatesUrl}}"/>
                <input id="actionUrl" name="actionUrl" type="hidden" value="{{api}}"/>
                <div class="support-element-wrapper">
                    <div class="support-label">
                        <label class="support-form-label" for="name">File:</label>  
                    </div>
                    <div class="support-element">
                        <input type="file"  name="file" class="form-file-left-element" required/>
                    </div>
                </div>
                
                
                
                <div class="support-element-wrapper">
                    <div class="support-label">
                        <label class="support-form-label" for="code">Angular Template</label>  
                    </div>
                    <div class="support-radio-element">
                        <div class="form-radio">
                            <label>
                                <input type="radio" ng-model="angularTemplate"  name="angularTemplate" value="true" />
                                Yes
                            </label>
                        </div>
                        <div class="form-radio">
                            <label>
                                <input type="radio" ng-model="angularTemplate"  name="angularTemplate" value="false" />
                                No
                            </label>
                        </div>
                    </div>
                </div>            
                


                <div class="support-submit-button-row">
                    <button  onClick="templateUpdate();" class="btn btn-default">Upload</button>
                </div>

            </form>
        </div>
    </div>
</div>

<div ng-include src="'partials/footer.html'"></div>