<div ng-include src="'partials/addonsMenu.html'"></div>   


<div id="container" class="container">
    <div class="page-container">
        <div class="title-wrapper">            
            <div class="title">New Addon</div>
        </div>
        <div class="support-form-wrapper">
            <form  ng-submit="submit()" ng-controller="AddonsAddCtrl">
                <div class="support-element-wrapper">
                    <div class="support-label">
                        <label class="support-form-label" for="name">Name:</label>  
                    </div>
                    <div class="support-element">
                        <input class="form-left-text-element" type="text" ng-model="name" name="name" placeholder="name"  required/>
                    </div>
                </div>
                <div class="support-element-wrapper">
                    <div class="support-label">
                        <label class="support-form-label" for="url">URL:</label>  
                    </div>
                    <div class="support-element">
                        <input class="form-left-text-element" type="text" ng-model="url" name="url" placeholder="url"  required/>
                    </div>
                </div>

                <div class="support-element-wrapper">
                    <div class="support-label">
                        <label class="support-form-label" for="code">Basic Authentication</label>  
                    </div>
                    <div class="support-radio-element">
                        <div class="form-radio">
                            <label>
                                <input type="radio" ng-model="basicAuth"  name="basicAuth" value="true" ng-click="authOn()"  />
                                On
                            </label>
                        </div>
                        <div class="form-radio">
                            <label>
                                <input type="radio" ng-model="basicAuth"  name="basicAuth" value="false" ng-click="authOff()"  />
                                Off
                            </label>
                        </div>
                    </div>
                </div>
                <div class="{{authBlock}}">
                    <div class="support-element-wrapper">
                        <div class="support-label">
                            <label class="support-form-label" for="username">Username:</label>  
                        </div>
                        <div class="support-element">
                            <input class="form-left-text-element" type="text" ng-model="username" name="username" placeholder="username" />
                        </div>
                    </div>
                    
                    <div class="support-element-wrapper">
                        <div class="support-label">
                            <label class="support-form-label" for="password">Password:</label>  
                        </div>
                        <div class="support-element">
                            <input class="form-left-text-element" type="password" ng-model="password" name="password" placeholder="password" />
                        </div>
                    </div>
                </div>


                <div class="support-submit-button-row">
                    <button  type="submit" class="btn btn-default">Save</button>
                </div>

            </form>
        </div>
    </div>
</div>

<div ng-include src="'partials/footer.html'"></div>