<div ng-include src="'partials/userMenu.html'"></div>   


<div id="container" class="container">
    <div class="page-container">
        <div class="title-wrapper">            
            <div class="title">New User</div>
        </div>
        <div class="support-form-wrapper">
            <form  ng-submit="submit()" ng-controller="UserAddCtrl">
                <div class="support-element-wrapper">
                    <div class="support-label">
                        <label class="support-form-label" for="username">Username</label>  
                    </div>
                    <div class="support-element">
                        <input class="form-left-text-element" type="text" ng-model="username" name="username" placeholder="username"  required/>
                    </div>

                    <div class="support-label">
                        <label class="support-form-label" for="password">Password</label>  
                    </div>
                    <div class="support-element">
                        <input class="form-left-text-element" type="password" ng-model="password" name="password" placeholder="password"  required/>
                    </div>

                    <div class="support-label">
                        <label class="support-form-label" for="confirm">Confirm</label>  
                    </div>
                    <div class="support-element">
                        <input class="form-left-text-element" type="password" ng-model="confirm" name="confirm" placeholder="password"  required/>
                    </div>

                    <div class="support-label">
                        <label class="support-form-label" for="firstName">First Name</label>  
                    </div>
                    <div class="support-element">
                        <input class="form-left-text-element" type="text" ng-model="firstName" name="firstName" placeholder="first name"  required/>
                    </div>

                    <div class="support-label">
                        <label class="support-form-label" for="lastName">Last Name</label>  
                    </div>
                    <div class="support-element">
                        <input class="form-left-text-element" type="text" ng-model="lastName" name="lastName" placeholder="last name"  required/>
                    </div>

                    <div class="support-label">
                        <label class="support-form-label" for="email">Email</label>  
                    </div>
                    <div class="support-element">
                        <input class="form-left-text-element" type="email" ng-model="email" name="email" placeholder="email"  required/>
                    </div>

                    <div class="article-radio-element">
                        <div class="form-radio">
                            <label>
                                <input  type="radio" ng-model="enabled" value="true"  />
                                Enabled
                            </label>
                        </div>
                        <div class="form-radio">
                            <label>
                                <input  type="radio" ng-model="enabled" value="false"   />
                                Disabled
                            </label>
                        </div>

                    </div>                    

                    <div class="article-element-wrapper">
                        <div class="article-element-label">
                            <label class="article-form-label" for="newUserRoleId">User Role</label> 
                        </div>
                        <div class="article-element">                    
                            <select class="form-select-element-left" ng-model="newUserRoleId"  ng-options="role.id as role.roleName for role in userRoleList" name="newUserRoleId" required>
                            </select>
                        </div>
                    </div>

                </div>


                <div class="support-submit-button-row">
                    <button  type="submit" class="btn btn-default">Save</button>
                </div>

            </form>
        </div>
    </div>
</div>

<div ng-include src="'partials/footer.html'"></div>