<div ng-include src="'partials/menu.html'"></div>   
<div id="container" class="container">  
    <!-- Ulbora CMS Template and theme -->
    <div ng-switch on="showContent">
        <div ng-switch-when="true" >
            <div class="page-wrapper">
                <div class="article-wrapper-inline">
                    <div class="article-wrapper2"  ng-repeat="article in content.articleLocations.Center">              
                        <div class="article-title"  ng-switch on="article.showTitle">
                            <span ng-switch-when="true">{{article.title}}</span>
                        </div>  
                        <div class="article">
                            <div ng-bind-html="article.articleText.text"></div>  
                        </div> 
                        <div class="article-read-more" ng-switch on="article.fullPage">
                            <span ng-switch-when="false"><a class="" href="#!article/{{article._id}}">Read More...</a></span>
                        </div>

                        <div ng-switch on="article.fullPage">
                            <div ng-switch-when="true">
                                <div ng-switch on="article.allowComments">
                                    <div ng-switch-when="true" class="comment-link"><a class="" href="#!article/{{article._id}}">Comments...</a></div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="archive-wrapper-inline">            
                    <div class="archive-wrapper">
                        <div class="archive-label">
                            Archives
                        </div>
                        <div ng-repeat="archive in content.dates">
                            <a class="" href="#!archive/{{archive.month}}/{{archive.year}}">{{archive.dateLabel}}</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div> 
<div ng-switch on="showContent">
    <div ng-switch-when="true" >
        <div ng-include src="'partials/footer.html'"></div>    
    </div>
</div>
