{{define "header"}}

<head>
    <title>{{.Title}}</title>
    <meta charset="UTF-8">
    <meta name="description" content="{{.MetaDesc}}">
    <meta name="keywords" content="{{.MetaKeyWords}}">
    <meta name="author" content="{{.MetaAuthor}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script type='text/javascript' src="/templates/starter/js/popper.js"></script>
    <script type='text/javascript' src="/templates/starter/js/jquery-3.2.1.min.js"></script>
    <script type='text/javascript' src="/templates/starter/js/bootstrap.min.js"></script>
    <script type='text/javascript' src="/templates/starter/js/tinymce.min.js"></script>
    <script type='text/javascript' src="/templates/starter/js/custom.js"></script>
    

    <link rel="stylesheet" href="/templates/starter/css/bootstrap.min.css">
    <link rel="text/plain" href="/templates/starter/css/bootstrap.min.css.map">
    <link rel="stylesheet" href="/templates/starter/css/bootstrap-grid.min.css">
    <link rel="text/plain" href="/templates/starter/css/bootstrap-grid.min.css.map">
    <link rel="stylesheet" href="/templates/starter/css/bootstrap-reboot.min.css">
    <link rel="text/plain" href="/templates/starter/css/bootstrap-reboot.min.css.map">
    <link rel="stylesheet" href="/templates/starter/css/styles.css">

</head>
{{end}}