{{define "navbar"}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">  
        <li class="nav-item">
            <a class="nav-link" href="/download">Download</a>
          </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact/form">Contact</a>
      </li>      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Links
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="http://www.ulboralabs.com">Ulbora Labs</a>
          <a class="dropdown-item" href="http://www.myapigateway.com">API Gateway</a>          
        </div>
      </li>      
    </ul>
  </div>
</nav>
{{end}}