<div ng-include src="'partials/menu.html'"></div>   
<div id="container" class="container">  
    <!-- Ulbora CMS Template and theme -->
    <div ng-switch on="showContent">
        <div ng-switch-when="true" >
            <div class="article-page-wrapper">
                <div class="article-title" ng-switch on="article.showTitle">
                    <span ng-switch-when="true">{{article.title}}</span>
                </div>
                <div class="article">
                    <div ng-bind-html="articleHtml"></div>   
                </div> 
                <div class="article-tags" ng-switch on="showTags">            
                    <p ng-switch-when="true">Tags: 
                        <span ng-repeat="keyword in article.tag.keyWords" ng-switch="(article.tag.keyWords.length -1) === {{$index}}">
                            <a href="#!article/{{article._id}}"
                               rel="tag">{{keyword}}</a> <span ng-switch-when="false">,</span>
                        </span>
                    </p>
                </div>
            </div> 



        </div>
    </div>

</div> 
<div ng-switch on="showContent">
    <div ng-switch-when="true" >
        <div ng-include src="'partials/footer.html'"></div>    
    </div>
</div>