<div ng-include src="'partials/menu.html'"></div>   
<!-- Ulbora CMS Template and theme -->
<div id="container" class="container">  
    <div class="register-outer-form-wrapper">
        <div class="register-title">Change Password</div>
        <div class="register-form-wrapper">
            <form ng-submit="submit()" ng-controller="PasswordChangeCtrl">                        
                
                <div class="register-label" >
                    <label class="support-form-label" for="question">Old Password</label>
                </div>
                <div class="register-element">
                    <input type="password" ng-model="password" name="password" placeholder="password"/>                            
                </div>

                <div class="register-label" >
                    <label class="support-form-label" for="answer">Password</label>
                </div>
                <div class="register-element">
                    <input class="form-left-text-element" type="password" ng-model="password" name="password" placeholder="password"  required/>
                </div>
                
                <div class="register-label" >
                    <label class="support-form-label" for="answer">Confirm</label>
                </div>
                <div class="register-element">
                    <input class="form-left-text-element" type="password" ng-model="confirm" name="confirm" placeholder="confirm"  required/>
                </div>

                <div class="register-button">
                    <button type="submit" class="">Change</button>
                </div>                       
            </form>                      
        </div>                
    </div>              
</div>



<div ng-switch on="showfooter">
    <div ng-switch-when="true" >
        <div ng-include src="'partials/footer.html'"></div>    
    </div>
</div>