<div ng-include src="'partials/menu.html'"></div>   
<div id="container" class="container">  
    <!-- Ulbora CMS Template and theme -->
    <div ng-switch on="showContent">
        <div ng-switch-when="true" >
            <div class="page-wrapper">
                <div class="article-wrapper">
                    <div class="article-wrapper2"  ng-repeat="article in content.articleLocations.FrontPage">              
                        <div class="article-title"  ng-switch on="article.showTitle">
                            <span ng-switch-when="true">{{article.title}}</span>
                        </div>  
                        <div class="article">
                            <div ng-bind-html="article.articleText.text"></div>  
                        </div> 
                        <div class="article-read-more" ng-switch on="article.fullPage">
                            <span ng-switch-when="false"><a class="" href="#!article/{{article._id}}">Read More...</a></span>
                        </div>

                        

                    </div>
                </div>
                
            </div>
        </div>
    </div>

</div> 
<div ng-switch on="showContent">
    <div ng-switch-when="true" >
        <div ng-include src="'partials/footer.html'"></div>    
    </div>
</div>
