<div class="top-menu">
    <div class="top-menu-space">        
        <div class="logo-img"><img alt="Ulbora CMS" src="http://www.ulboracms.org/image/get/54a59ee7eb079a0d04bd103e"/></div>

    </div>
    <div class="top-menu-menu">
        <nav>
            <ul ng-switch on="loggedIn">
                <li class="{{homeActiveClass}}" ><a  href="#!/">Home</a></li>   
                <li ng-repeat="item in content.articleLocations.TopMenu" ng-switch="item.title === '{{menuLinkName}}'">
                    <a ng-switch-when="false" href="#!menuArticle/{{item._id}}/{{ item.title}}">{{ item.title}}</a>
                    <a ng-switch-when="true" class="activeLink" href="#!menuArticle/{{item._id}}/{{ item.title}}">{{ item.title}}</a>
                </li>  
                

            </ul>
        </nav>

    </div>
</div>   